.post-item
  padding 20px 50px 20px 10px
  border-bottom 1px dashed #ccc
  a
    text-decoration none
    color #888
    &:hover
      color #333
      h1
        border-color color-main
  h1
    border-left 5px solid #c0c0c0
    padding-left 10px
  p
    margin 15px 0
  time
    font-size 14px
    color #999