.toc-trigger
  position fixed
  top 5px
  right 5px
  border 1px solid #ddd
  padding 5px 10px
  background rgba(255,255,255, 0.8)
  a
    text-decoration none
    color #777
  .toc-link
    color #444
  &:hover
    background #ffffff
    border-color #777
    a
      color #333
  .dropdown-menu
    padding 20px 10px
  ol
    list-style none
    margin 0 0 0 10px